<div class="a"></div>
<div class="b"></div>
<div class="c"></div>
<style>
    div {
        margin: -50;
        width: 150;
        height: 150;
        background: red;
        border-radius: 100px 0;
    }
    .a {
        background: #1a4341;
    }
    .b {
        background: #998235;
    }
    .c {
        background: #f3ac3c;
    }
    body {
        background: #0b2429;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
